body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red{
    background-color: red;
}
.black{
    background-color: black;
}
.green{
    background-color: green;
}